.custom-cursor {
  width: 15px;
  height: 15px;
  border-radius: 15%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none; /* Make sure it doesn't block interactions */
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: background-color 0.2s ease;
}

@media screen and (max-width: 600px) {
  .custom-cursor {
    display: none;
    cursor: default;
  }
}
