* {
  box-sizing: border-box;
  --text: #fff;
  --accent: #b4fbb5;
  --hover: #cffffd;
  --background: #0e0e0e;
  --cursor-hover: #ffc8eb;

  scroll-behavior: smooth;
  cursor: none;
}

/* custom scrollbar settings */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--text);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hover);
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  background-color: var(--background);
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--text);
  transform-origin: 0%;
  z-index: 3;
}

.container {
  background-color: var(--background);
  color: var(--text);
  border-left: 5px dotted white;
  border-right: 5px dotted white;
  width: 70vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor {
  background-color: var(--text);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

@media (max-width: 600px) {
  .container {
    margin: 0 2rem;
    border: none;
  }

  #contacts {
    margin-right: 0;
  }
}
