* {
  box-sizing: border-box;
  --text: #fff;
  --hover: rgb(207, 255, 253);
  --background: #010112;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--background);
  overflow: hidden;
}

.container {
  border-right: 1px solid black;
  color: var(--text);
  width: 100vw; /* Each section will take the full viewport width */
  height: 100vh; /* Each section will take the full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}
