body {
  padding: 2rem;
  background-color: var(--background);
  color: var(--text);
  overflow-x: hidden;
}

.app-container {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  align-items: center;
}

.top-row {
  flex-direction: column;
}
.top-row > .main-container {
  width: 100%;
  margin-bottom: 1rem;
}
.top-row > .skills-container {
  font-size: 0.6rem;
  margin: 0;
}

.container {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .contacts {
    display: none;
  }
}
